documentation/Mtgsklep_serwerImplService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://klasy/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://klasy/" name="Mtgsklep_serwerImplService">
<wsp:Policy wsu:Id="Mtgsklep_serwerImplPortBinding_MTOM_Policy-Mtgsklep_serwerImplPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://klasy/" schemaLocation="http://25.76.141.122:8080/ProjektSoapSerwer/Mtgsklep_serwerImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="zloz_zamowienie">
<part name="parameters" element="tns:zloz_zamowienie"/>
</message>
<message name="zloz_zamowienieResponse">
<part name="parameters" element="tns:zloz_zamowienieResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="zaloguj">
<part name="parameters" element="tns:zaloguj"/>
</message>
<message name="zalogujResponse">
<part name="parameters" element="tns:zalogujResponse"/>
</message>
<message name="usun_z_koszyka">
<part name="parameters" element="tns:usun_z_koszyka"/>
</message>
<message name="usun_z_koszykaResponse">
<part name="parameters" element="tns:usun_z_koszykaResponse"/>
</message>
<message name="dodaj_do_koszyka">
<part name="parameters" element="tns:dodaj_do_koszyka"/>
</message>
<message name="dodaj_do_koszykaResponse">
<part name="parameters" element="tns:dodaj_do_koszykaResponse"/>
</message>
<message name="zwroc_magazyn">
<part name="parameters" element="tns:zwroc_magazyn"/>
</message>
<message name="zwroc_magazynResponse">
<part name="parameters" element="tns:zwroc_magazynResponse"/>
</message>
<portType name="Mtgsklep_serwerImpl">
<operation name="zloz_zamowienie">
<input wsam:Action="http://klasy/Mtgsklep_serwerImpl/zloz_zamowienieRequest" message="tns:zloz_zamowienie"/>
<output wsam:Action="http://klasy/Mtgsklep_serwerImpl/zloz_zamowienieResponse" message="tns:zloz_zamowienieResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://klasy/Mtgsklep_serwerImpl/zloz_zamowienie/Fault/Exception"/>
</operation>
<operation name="zaloguj">
<input wsam:Action="http://klasy/Mtgsklep_serwerImpl/zalogujRequest" message="tns:zaloguj"/>
<output wsam:Action="http://klasy/Mtgsklep_serwerImpl/zalogujResponse" message="tns:zalogujResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://klasy/Mtgsklep_serwerImpl/zaloguj/Fault/Exception"/>
</operation>
<operation name="usun_z_koszyka">
<input wsam:Action="http://klasy/Mtgsklep_serwerImpl/usun_z_koszykaRequest" message="tns:usun_z_koszyka"/>
<output wsam:Action="http://klasy/Mtgsklep_serwerImpl/usun_z_koszykaResponse" message="tns:usun_z_koszykaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://klasy/Mtgsklep_serwerImpl/usun_z_koszyka/Fault/Exception"/>
</operation>
<operation name="dodaj_do_koszyka">
<input wsam:Action="http://klasy/Mtgsklep_serwerImpl/dodaj_do_koszykaRequest" message="tns:dodaj_do_koszyka"/>
<output wsam:Action="http://klasy/Mtgsklep_serwerImpl/dodaj_do_koszykaResponse" message="tns:dodaj_do_koszykaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://klasy/Mtgsklep_serwerImpl/dodaj_do_koszyka/Fault/Exception"/>
</operation>
<operation name="zwroc_magazyn">
<input wsam:Action="http://klasy/Mtgsklep_serwerImpl/zwroc_magazynRequest" message="tns:zwroc_magazyn"/>
<output wsam:Action="http://klasy/Mtgsklep_serwerImpl/zwroc_magazynResponse" message="tns:zwroc_magazynResponse"/>
</operation>
</portType>
<binding name="Mtgsklep_serwerImplPortBinding" type="tns:Mtgsklep_serwerImpl">
<wsp:PolicyReference URI="#Mtgsklep_serwerImplPortBinding_MTOM_Policy-Mtgsklep_serwerImplPortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="zloz_zamowienie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="zaloguj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="usun_z_koszyka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="dodaj_do_koszyka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="zwroc_magazyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Mtgsklep_serwerImplService">
<port name="Mtgsklep_serwerImplPort" binding="tns:Mtgsklep_serwerImplPortBinding">
<soap:address location="http://25.76.141.122:8080/ProjektSoapSerwer/Mtgsklep_serwerImplService"/>
</port>
</service>
</definitions>